---
import BaseLayout from "../components/layout/BaseLayout.astro";
import Nav from "../components/Nav.astro";

import Hero from "../components/sections/Hero.astro";
import Highlights from "../components/sections/Highlights.astro";
import Services from "../components/sections/Services.astro";
import SkillsTools from "../components/sections/SkillsTools.astro";
import ExperienceList from "../components/sections/ExperienceList.astro";
import CaseSnapshots from "../components/sections/CaseSnapshots.astro";
import Certifications from "../components/sections/Certifications.astro";
import FAQ from "../components/sections/FAQ.astro";
import Contact from "../components/sections/Contact.astro";
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Highlights />
    <Services />
    <SkillsTools />
    <ExperienceList />
    <CaseSnapshots />
    <Certifications />
    <FAQ />
    <Contact />
  </main>
</BaseLayout>
